{% load thumbnail %}
{% for cliente in cliente_list %}
    <tr>
        <td>
            <img src="{% thumbnail cliente.foto 50x50 crop %}" alt="" />
        </td>

        <td><a href="{% url 'clientes:edite' cliente.id %}">{{ cliente.nome }}</a></td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.get_gasto_total }}</td>
        <td><span {% if cliente.status_ativo == True %}class="fa fa-check" aria-hidden="true"
            {% else %} class="fa fa-times" aria-hidden="true"
        {% endif %}></span></td>
        <td style="width: 150px">
          <button type="button" class="btn btn-danger btn-sm js-delete-book" data-url="{% url 'clientes:delete' cliente.id %}">
            <span class="glyphicon glyphicon-trash"></span> Delete</button>
        </td>
    </tr>
{% endfor %}