{% load thumbnail %}
{% for perfil in perfil_list %}
    <tr>
        <td>
            <img src="{% thumbnail perfil.foto 50x50 crop %}" alt="" />
        </td>

        <td><a href="#">{{ perfil.username }}</a></td>
        <td>{{ perfil.email }}</td>
        <td><a onclick="return confirm('Deseja realmente alterar esse privilegio?')" href="{% url 'contas:alterar_privilegio' perfil.id %}"><span {% if perfil.is_superuser %}class="fa fa-check" aria-hidden="true"
            {% else %} class="fa fa-times" aria-hidden="true"
                              {% endif %}></span></a></td>
        <td>
            <a onclick="return confirm('Deseja realmente alterar esse status?')" href="{% url 'contas:alterar_status' perfil.id %}">
            <span {% if perfil.is_active %}class="fa fa-check" aria-hidden="true"
                  {% else %} class="fa fa-times" aria-hidden="true"
                  {% endif %}>
            </span></a>
        </td>
        <!--<td><a data-url="{% url 'contas:delete' perfil.id %}" href="#"><span class="fa fa-trash-o"></span></a></td>
        -->
        <td style="width: 150px">
          <button type="button" class="btn btn-danger btn-sm js-delete-book" data-url="{% url 'contas:delete' perfil.id %}">
            <span class="glyphicon glyphicon-trash"></span> Delete</button>
        </td>
    </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">Nenhum usuário cadastrado</td>
  </tr>
{% endfor %}