{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clientes</h3>
                        <ul class="panel-controls">
                            <li><a href="{% url 'clientes:novo' %}" class="panel-collapse"><span class="fa fa-plus"></span></a></li>
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th width="40"></th>
                                    <th>Nome</th>
                                    <th>email</th>
                                    <th>Telefone</th>
                                    <th>Ativo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cliente in cliente_list %}
                                    <tr>
                                        <td>
                                            {% thumbnail cliente.foto "40x40" crop="80% top" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                        </td>
                                        <td><a href="{% url 'clientes:edite' cliente.id %}">{{ cliente.nome }}</a></td>
                                        <td>{{ cliente.email }}</td>
                                        <td>{{ cliente.telefone }}</td>
                                        <td>{{ cliente.status_ativo }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->

            </div>
        </div>

    </div>
    <!-- PAGE CONTENT WRAPPER -->
{% endblock %}