{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clientes</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>email</th>
                                    <th>Telefone</th>
                                    <th>Sexo</th>
                                    <th>Nascimento</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for cliente in clientes %}
                                        <td>{{ cliente.nome }}</td>
                                        <td>{{ cliente.cpf }}</td>
                                        <td>{{ cliente.email }}</td>
                                        <td>{{ cliente.telefone }}</td>
                                        <td>{{ cliente.sexo }}</td>
                                        <td>{{ cliente.nacimento }}</td>
                                        <td>{{ cliente.estado_civil }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->

            </div>
        </div>

    </div>
    <!-- PAGE CONTENT WRAPPER -->
{% endblock %}