{% extends "base.html" %}
{% load static thumbnail%}
{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

            <div class="row">
            <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Default</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                    <div class="panel-body">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Codigo</th>
                                    <th>Nome</th>
                                    <th>Categoria</th>
                                    <th>descricao</th>
                                    <th>status_ativo</th>
                                    <th>valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for servico in servico_list %}
                                    <tr>
                                        <td>
                                            <img src="{% thumbnail servico.foto 50x50 crop %}" alt="" />
                                        </td>
                                        <td><a href="{% url 'servicos:edite' servico.id %}" >{{ servico.cod_servico }}</a></td>
                                        <td>{{ servico.nome }}</td>
                                        <td>{{ servico.get_categoria_display }}</td>
                                        <td>{{ servico.descricao }}</td>
                                        <td><span {% if servico.status_ativo == True %}class="fa fa-check" aria-hidden="true"
                                            {% else %} class="fa fa-times" aria-hidden="true"
                                        {% endif %}></span></td>
                                        <td>{{ servico.valor }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            </div>
        </div>

    </div>
    <!-- PAGE CONTENT WRAPPER -->
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
{% endblock %}