{% extends "base.html" %}
{% load static %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/pessoais/alerts.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#tabela').DataTable( {
                "order": [[ 1, "desc" ]]
            } );
        } );
    </script>
{% endblock %}

{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 0">
                        <h3 class="panel-title">Movimentacao</h3>
                        <ul class="panel-controls">
                            <li><a href="{% url 'movimentacao:novo' %}"><span class="fa fa-plus"></span></a></li>
                            <!--<li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            -->
                        </ul>
                        <div class="col-md-7 pull-left" style="padding-top: 10px">
                            <form class="form-horizontal" method="GET" action="">
                            {% csrf_token %}
                            <div class="container">
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="text" class="form-control datepicker" name="data_inicial" placeholder="data inicial">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="text" class="form-control datepicker" name="data_final" placeholder="data final">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                                                <select name="tipo" class="form-control select">
                                                    <option value="0">Todas</option>
                                                    <option value="1">Entrada</option>
                                                    <option value="2">Saida</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary col-sm-12">Filtrar</button>
                                </div>
                            </div>
                        </form>
                        </div>
                        <div class="col-md-3 pull-right">
                            <a href="#" class="tile tile-info tile-valign" style="margin-bottom: 0; font-size: 22px; min-height: 48px">
                                <div class="informer informer-default dir-bl"><i class="icon fa fa-money"> R$ {{ movimento_total_vista }} </i> <i class="icon fa fa-credit-card"> R$ {{ movimento_total_cartao }}</i></div>
                                <div class="informer informer-default dir-br"><i class="icon fa fa-pencil"> R$ {{ movimento_total_fiado }}</i></div>
                                <div class="informer informer-default dir-tr" style="font-size: 28px">R$ {{ movimento_total }}</div>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table datatable" id="tabela">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>data</th>
                                    <th>tipo</th>
                                    <th>tipo</th>
                                    <th>Fonte/Destino</th>
                                    <th>Observacao</th>
                                    <th>valor</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% include 'fluxo/includes/movimentacao/partial_list.html' %}
                            </tbody>
                        </table>
                        <!-- warning -->
                        <div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
                            <div class="mb-container">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>

    </div>
    <!-- PAGE CONTENT WRAPPER -->
{% endblock %}