{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div class="profile-image">
                            <img src="/media/{{ perfil_list.foto }}" alt="{{ user }}"/>
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">{{ perfil_list }}</div>
                            <div class="profile-data-title">{{ perfil_list.email }}</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" class="tile tile-primary" style="margin-bottom: 0; min-height: 0">
                                   <div class="pull-right" style="margin-top:8px; margin-bottom:-10px">{{ perfil_list.get_rendimento_diario }}</div>
                                   <div class="progress progress-small" style="margin: -10px">
                                       <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ perfil_list.get_rendimento_porcentagem_semanal }}%;">80%</div>
                                   </div>
                                   <div class="informer informer-warning">{{ perfil_list.get_rendimento_porcentagem_semanal }}%</div>
                                   <div class="informer informer-default dir-tr">R$ {{ perfil_list.get_meta_semanal }}</div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="tile tile-success tile-valign">{{ vendas_semana }}
                                    <div class="informer informer-default dir-tr">{{ perfil_list.meta }}</div>
                                    <div class="informer informer-default dir-bl">Semanal</div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <div class="widget widget-info widget-padding-sm">
                                    <div class="widget-item-left">
                                        <input class="knob" data-width="100" data-height="100" data-min="0" data-max="100" data-displayInput=false data-bgColor="#d6f4ff" data-fgColor="#FFF" value="80%" data-readOnly="true" data-thickness=".2"/>
                                    </div>
                                    <div class="widget-data">
                                        <div class="widget-big-int"><span class="num-count">80</span>%</div>
                                        <div class="widget-title">Disk Space</div>
                                        <div class="widget-subtitle">Total free space</div>
                                    </div>
                                    <div class="widget-controls">
                                        <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="contact-info">
                            <p><small>E-mail</small><br/>{{ perfil_list.email }}</p>
                            <p><small>Endereço</small><br/>{{ perfil_list.endereco }}</p>
                            <p><small>Ultimo Login</small><br/>{{ perfil_list.last_login }}</p>
                            <p><small>Membro desde</small><br/>{{ perfil_list.date_joined }}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary pull-right" href="{% url 'contas:alterar' perfil_list.id %}">Informações</a>

                    <a class="btn btn-primary pull-right" href="{% url 'contas:password_change'%}">Senha</a>

                </div>
                <!-- END CONTACT ITEM -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
{% endblock %}