{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div class="profile-image">
                            <img src="/media/{{ perfil_list.foto }}" alt="{{ user }}"/>
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">{{ perfil_list }}</div>
                            <div class="profile-data-title">{{ perfil_list.email }}</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="contact-info">
                            <p><small>E-mail</small><br/>{{ perfil_list.email }}</p>
                            <p><small>Endereço</small><br/>{{ perfil_list.endereco }}</p>
                            <p><small>Ultimo Login</small><br/>{{ perfil_list.last_login }}</p>
                            <p><small>Membro desde</small><br/>{{ perfil_list.date_joined }}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary pull-right" href="{% url 'contas:alterar' perfil_list.id %}">Informações</a>
                    <a class="btn btn-primary pull-right" href="{% url 'contas:password_change'%}">Senha</a>

                </div>
                <!-- END CONTACT ITEM -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
{% endblock %}