{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div class="panel-footer">
                        <button class="btn btn-default">Apagar Campos</button>
                        <button class="btn btn-primary pull-right">Enviar</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->
{% endblock %}