{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Usuarios</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.username.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    {{ form.username }}
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.telefone.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    {{ form.telefone }}
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.funcao.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    {{ form.funcao }}
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.password.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                    {{ form.password }}
                                </div>
                                <span class="help-block">Password field sample</span>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.email.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-mail-reply"></span></span>
                                    {{ form.email }}
                                </div>
                                <span class="help-block">Click on input field to get datepicker</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.foto.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                {{ form.foto }}
                                <span class="help-block">Input type file</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.is_superuser.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                {{ form.is_superuser }}
                                <span class="help-block">Checkbox sample, easy to use</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.is_active.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                {{ form.is_active }}
                                <span class="help-block">Checkbox sample, easy to use</span>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Apagar Campos</button>
                        <button class="btn btn-primary pull-right">Enviar</button>
                    </div>
                </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->
{% endblock %}