{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/pessoais/alerts.js' %}"></script>
{% endblock %}
{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <!-- START DEFAULT DATATABLE -->
                <h3 class="page-title">Usuários</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="panel-controls">
                            <li><a href="{% url 'contas:novo' %}"><span class="fa fa-plus"></span></a></li>
                            <li><a href="{% url 'search:haystack_search' %}" class="panel-collapse"><span class="fa fa-search"></span></a></li>

                        </ul>
                        <!-- SEARCH --
                        <div class="input-group push-down-10 col-md-6">
                              <span class="input-group-addon"><span class="fa fa-search"></span></span>
                          <form method="post" action="/search/" class="autocomplete-me">
                              {% csrf_token %}
                            <input id="id_q" name="q" type="text" class="form-control" placeholder="Digite aqui" value="">
                          </form>
                            <div class="input-group-btn">
                                <button class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                        END SEARCH -->
                    </div>
                    <div class="panel-body">
                        <table class="table datatable" id="tabela">
                            <thead>
                                <tr>
                                    <th width="40"></th>
                                    <th>Nome</th>
                                    <th>email</th>
                                    {% if user.is_superuser %}
                                        <th>Super User</th>
                                        <th>Ativo</th>
                                        <th>Apagar</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% include 'accounts/includes/partial_profile_list.html' %}
                            </tbody>
                        </table>
                        <!-- warning -->
                        <div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
                            <div class="mb-container">
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
{% endblock %}