{% load thumbnail %}
{% for movimentacao in movimentacao_list %}
    <tr >
        <td><a href="{% url 'movimentacao:edite' movimentacao.id %}">{{ movimentacao }}</a></td>
        <td>{{ movimentacao.data|date:"D d M, Y. f" }}</td>
        <td>{{ movimentacao.tipo.get_tipo_display }}</td>
        <td>{{ movimentacao.tipo }}</td>
        <td>{% if movimentacao.link %}<a href="{{ movimentacao.link }}">{% endif %}{{ movimentacao.fonte_destino }}</a></td>
        <td>{{ movimentacao.observacao|truncatewords:4 }}</td>
        {% if movimentacao.valor < 0 %}
            <td class="text-danger">{{ movimentacao.valor }}</td>
        {% else %}
            <td>{{ movimentacao.valor }}</td>
        {% endif %}
    </tr>
{% endfor %}