{% load thumbnail %}
{% for movimentacao in movimentacao_list %}
    <tr >
        <td>{{ movimentacao }}</td>
        <td>{{ movimentacao.data }}</td>
        <td>{{ movimentacao.tipo }}</td>
        <td>{% if movimentacao.link %}<a href="{{ movimentacao.link }}">{% endif %}{{ movimentacao.fonte_destino }}</a></td>
        <td>{{ movimentacao.observacao|truncatewords:4 }}</td>
        {% if movimentacao.valor < 0 %}
            <td class="text-danger">{{ movimentacao.valor }}</td>
        {% else %}
            <td>{{ movimentacao.valor }}</td>
        {% endif %}
    </tr>
{% endfor %}