{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <h2>Search</h2>
    <div class="input-group push-down-10 col-md-6">
        <span class="input-group-addon"><span class="fa fa-search"></span></span>
        <form method="get" action="" class="autocomplete-me">
            {{ form.q }}
        </form>
        <div class="input-group-btn">
            <button class="btn btn-primary">Buscar</button>
        </div>
    </div>
    <div class="panel-body">

        <table class="table datatable">
            <thead>
                <tr>
                    <th width="40"></th>
                    <th>Nome</th>
                    <th>email</th>
                    <th>Super User</th>
                    <th>Ativo</th>
                    <th>Apagar</th>
                </tr>
            </thead>
            <tbody>
            {% for result in page.object_list %}
                    <tr>
                        <td>
                            <img src="{% thumbnail result.object.foto 50x50 crop %}" alt="" />
                        </td>

                        <td><a href="{% url 'contas:alterar' result.object.id %}">{{ result.object.username }}</a></td>
                        <td>{{ result.object.email }}</td>
                        <td><a onclick="return confirm('Deseja realmente alterar esse privilegio?')" href="{% url 'contas:alterar_privilegio' result.object.id %}"><span {% if result.object.is_superuser %}class="fa fa-check" aria-hidden="true"
                            {% else %} class="fa fa-times" aria-hidden="true"{% endif %}></span></a></td>
                        <td>
                            <a onclick="return confirm('Deseja realmente alterar esse status?')" href="{% url 'contas:alterar_status' result.object.id %}">
                            <span {% if result.object.is_active %}class="fa fa-check" aria-hidden="true"
                                  {% else %} class="fa fa-times" aria-hidden="true"
                                  {% endif %}>
                            </span></a>
                        </td>
                        <!--<td><a data-url="{% url 'contas:delete' result.object.id %}" href="#"><span class="fa fa-trash-o"></span></a></td>
                        -->
                        <td style="width: 150px">
                          <button type="button" class="btn btn-danger btn-sm js-delete-book" data-url="{% url 'contas:delete' result.object.id %}">
                            <span class="glyphicon glyphicon-trash"></span> Delete</button>
                        </td>
                    </tr>
                {% empty %}
                  <tr>
                    <td colspan="8" class="text-center bg-warning">Nenhum usuário encontrado</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- warning -->
        <div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
            <div class="mb-container">
            </div>
        </div>
      </div>
    </div>
{% endblock %}