{% extends "base.html" %}
{% load static %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/pessoais/alerts.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vendas</h3>
                        <ul class="panel-controls">
                            {% if 'venda.add_venda' in user.get_group_permissions %}
                                <li><a href="{% url 'vendas:novo' %}"><span class="fa fa-plus"></span></a></li>
                            {% endif %}
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Comanda</th>
                                    <th>Cliente</th>
                                    <th>Data</th>
                                    <th>Tipo</th>
                                    <th>Valor</th>
                                    <th>Vendedor</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venda in venda_list %}
                                    <tr>
                                        <td><a href="{% url 'vendas:edite' venda.id %}" >{{ venda.cod_venda }}</a></td>
                                        <td>{{ venda.cod_cliente }}</td>
                                        <td>{{ venda.data_venda }}</td>
                                        <td>{% if venda.tipo == 1 %}À vista{% else %}Prazo{% endif %}
                                        <td>R$ {{ venda.valor_venda }}</td>
                                        <td>{{ venda.vendedor }}</td>
                                        <td>{% if venda.comanda == True %}Aberta{% else %}Fechada{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>

    </div>
    <!-- PAGE CONTENT WRAPPER -->
{% endblock %}