{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Servicos</h3>
                        <ul class="panel-controls">
                            <li><a href="{% url 'vendas:novo' %}" class="panel-collapse"><span class="fa fa-plus"></span></a></li>
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>cod_venda</th>
                                    <th>cod_cliente</th>
                                    <th>cod_servico</th>
                                    <th>data_venda</th>
                                    <th>tipo</th>
                                    <th>valor_venda</th>
                                    <th>vendedor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venda in venda_list %}
                                    <tr>
                                        <td><a href="{% url 'vendas:edite' venda.id %}" >{{ venda.cod_venda }}</a></td>
                                        <td>{{ venda.cod_cliente }}</td>
                                        <td>{{ venda.cod_servico }}</td>
                                        <td>{{ venda.data_venda }}</td>
                                        <td>{{ venda.tipo }}</td>
                                        <td>{{ venda.valor_venda }}</td>
                                        <td>{{ venda.vendedor }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->

            </div>
        </div>

    </div>
    <!-- PAGE CONTENT WRAPPER -->
{% endblock %}