
<table class="table datatable">
    <thead>
        <tr>
            <th>Comanda</th>
            <th>Cliente</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        {% for venda in vendas_filtro %}
            <tr onclick="window.document.location= '{% url 'vendas:edite' venda.id %}';">
                <td>{{ venda.cod_venda }}</td>
                <td>{{ venda.cod_cliente }}</td>
                <td>R$ {{ venda.valor_final }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>