
<table class="table datatable">
    <thead>
        <tr>
            <th>Comanda</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Editar</th>
            <th>Apagar</th>
        </tr>
    </thead>
    <tbody>
        {% for venda in vendas_filtro %}
            <tr>
                <td>{{ venda.cod_venda }}</td>
                <td>{{ venda.cod_cliente }}</td>
                <td>{{ venda.data_venda }}</td>
                <td>{{ venda.get_tipo_display }}</td>
                <td>R$ {{ venda.valor_final }}</td>
                <td>{% if venda.comanda %}Aberta{% else %}Fechada{% endif %}</td>
                <td style="width: 50px">
                    <a href="{% url 'vendas:edite' venda.id %}" class="btn btn-warning" role="button">
                    <span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td style="width: 50px">
                  <button type="button" class="btn btn-danger btn-sm js-delete-book" data-url="{% url 'vendas:delete' venda.id %}">
                    <span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>